@import url('https://fonts.googleapis.com/css?family=Lobster|Muli:400,700,900');
@font-face{
  font-family: 'BOOKOS';
  src: local('../fonts/BOOKOS.TTF')  format('truetype');
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  background: #e84148;
  z-index: 0;
}

.banner {
  background-color: rgba(220, 220, 255, 0.5);
  width: 20.74%;
  height: 182rem;
  margin-top: 40rem;
  margin-left: 1%;
  z-index: 1;
  position: absolute;
}
.banner .text-primary {
  padding: 2px;
  font-family: 'Muli';
  font-weight: 900;
  font-size: 33.14px;
  text-align: center;
}

.flexBox {
  width: 100%;
  height: 98%;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  display: flex;
}

.marquee {
  font-family: 'Muli', sans-serif;
  font-size: 20.83px;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4%;
  width: 100%;
  text-align: left;
}

.section {
  padding-top: 20px;
  text-align: center;
  z-index: 0;
}
#curved-title {
  color: white;
  font-family: Lobster;
  font-size: 4rem;
  margin-bottom: 60px;
}

.pink-box {
  margin: auto;
  width: 46.75%;
  position: relative;
  background: #ef7a80;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  text-align: left;
  font-family: 'Bookman Old Style', 'BOOKOS', 'Muli' , sans-serif;
  font-weight: bold;
  font-size: 33.33px;
  top: -8rem;
}

.pink-box .text-box{
  width: 90%;
  margin: auto;
}

.pink-box li {
  margin-left: 1rem;
}

.pink-box .bullet1{
  color: black;
  list-style-image:url('../images/people_icon.png');
}

.pink-box .bullet2{
  list-style-image:url('../images/tools_icon.png');
}

.pink-box .bullet3{
  list-style-image:url('../images/piggybank_icon.png');

}

.profile{
  /*display: inline-block;*/
  position: relative;
  margin-right: 0;
  bottom: 20px;
  width: 35%;
  font-size: 15px;
}

.ribbon {
  padding-top: 1rem;
  margin: auto;
  width: 40%;
  position: relative;
  top: -8rem;
  height: 3rem;
}
.ribbon img {
  position: relative;
  width: 100%;
}
.ribbon h5 {
  text-align: center;
  margin: auto;
  position: relative;
  top: -110px;
  left: 0;
  width: 65%;
  height: 50%;
  color: #e84148;
  font-family: 'Muli';
  font-weight: 900;
  font-size: 110%;
}

#section1{
  width: 100%;
}

#section2 {
  background: #dff1fd;
}
#section2 .section-two-container {
  width: 78%;
  margin-left: auto;
  margin-right: 0;
}
.background h1 {
  text-align: center;
  width: 72.2%;
  margin: auto;
  color: #064065;
  text-shadow: 0px 0px 8px #7190a5;
  font-family: 'Muli';
  font-weight: 900;
  font-size: 36px;
  position: relative;
  transform: translateY(-300%);
  
}

.background{
  margin: auto;
  position: relative;
}

.big-profile{
  margin: auto;
  color: #b5c8d6;
  font-family: 'Muli';
  font-weight: bold;
}

.big-profile img{
  width: 10rem;
  opacity: 0.5;
}

#section3 {
  background-color: #8dd4da;
  margin-top: -10px;
}
#section3 h3{
  font-family: 'Muli';
  font-size: 50px;
  font-weight: 900;
}

.blue-box{
  display: block;
  width: 80%;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4dbcc7;
}

.blue-box span{
  display: block;
  position: relative;
  top: 6px;
  left: 10px;
  text-align: left;
  font-family: 'Muli';
  font-size: 24px;
  font-weight: 900;
}

.blue-box img{
  display: inline-block;
  position: relative;
  bottom: 15px;
  width: 40%;
  float: right;
}

#img2{
  bottom: 8%;
}

#img3{
  bottom: -20%;
}

.red-text{
  color: #e8444b;
}

.blue-text{
  color: #7190a5;
}

.blue-box p{
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  width: 80.77%;
  z-index: 2;
  font-family: 'Muli';
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1rem;
}

#section3 .container{
  width: 78%;
  margin-left: auto;
  margin-right: 0;
  color: white;
}

#section4{
  background-color: #e84148;
}

#section4-content{
  width: 78%;
  margin-left: auto;
  margin-right: 0;
  color: white;
}

#section4 h3{
  font-family: 'Muli';
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.section4-body{
  font-family: 'Muli';
  font-size: 23.75px;
  font-weight: 900;
  text-align: left;
  width: 79%;
  margin: auto;
}

img{
  width: 100%;
  padding-bottom: 20px;
}

#section5{
  background-color: #8dd4da;
}

#section5-content{
  width: 78%;
  margin-left: auto;
  margin-right: 0;
  color: white;
}

#section5 h3{
  font-family: 'Muli';
  font-size: 50px;
  font-weight: 900;
}

#section5 p{
  font-family: 'Muli';
  font-size: 29.17px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.form{
  width: 90%;
  margin: auto;
}
input, textarea{
  background-color: #b0ebef;
  border: none;
  margin: 1rem;
  color: #86c2c7;
  font-family: 'Muli';
  font-size: 29.17px;
  font-weight: bold;
  width: 90%;
  padding: 5px;
}

.btn{
  background-color: #4dbcc7;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 42%;
  margin: 1rem;
  margin-bottom: 20px;
}

.dot-animation {
  display: block;
  padding:60px;
  width: 200%;
  position: relative;
  left: -50%;
  top: 8rem;
}
.dot-animation span {
  position:relative;
  display: inline-block;
  margin-top: 10px;
  width:100px;
  margin:10px 1px;
  height:10px;
  background:#48c0c0;
}
.dot-animation span:first-child {
  background:#48c0c0;
}
.dot-animation span:before {
  content:"";
  position:absolute;
  z-index:2;
  right:-12px;
  top:-12px;
  height: 1.8rem;
  width: 1.8rem;
  background: white;
  border: 5px solid #48c0c0;
  border-radius: 50%;
}

.dot-animation span:nth-child(even) {
  animation:move-l 0.5s linear infinite alternate;
  transform-origin:left;
}
.dot-animation span:nth-child(even):before {
  animation:move-r 0.5s linear infinite alternate;
}
.dot-animation span:nth-child(odd) {
  animation:move-r 0.5s linear infinite alternate;
  transform-origin:right;
}
.dot-animation span:nth-child(odd):before {
  animation:move-l 0.5s linear infinite alternate;
  transform-origin:right;
}
 

@keyframes move-l {
  from {
    transform: skewY(25deg);
  }
  to {
    transform: skewY(-25deg);
  }
}
@keyframes move-r {
  from {
    transform: skewY(-25deg);
  }
  to {
    transform: skewY(25deg);
  }
}