@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat');

$banner: rgba(200, 200, 255, 0.5);
$blue-primary: #91d3d9;
$red-primary: #e8444b;
$blue-secundary: #d7e7f1;
$trans-white: rgba(255, 255, 255, 0.5);
$bermuda-blue: #7190a5;

body{
  background: $red-primary;
  z-index: 0;
}

.banner{
  background-color: $banner;
  width: 20%;
  height: 500px;
//  height: 100%;
  margin-top: 450px;
  margin-left: 10px;
  z-index: 1;
  position: absolute;
  .quotes{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 400px;
  }
  .text-primary{
    font-weight: bold;
    text-align: center;
  }
}

.content{
  padding-top: 50px;
  text-align: center;
  z-index: 0;
//  background:#91d3d9 ;
  h2{
    font-weight: bold;
    color: white;
    font-family: Lobster;
    font-size: 3rem;
  }
}

.text-box{
  margin: auto;
  width: 40%;
  background: rgba(255, 255, 255, 0.4);
  color: $trans-white;
  font-size: 2rem;
  text-align: left;
  font-family: Montserrat;
  font-weight: bold;
  .black{
    color: black;
  }
}

.ribbon{
  margin: auto;
  width: 40%;
  img{
   position: relative; 
   width: 100%;
  }
  h5{
   text-align: center;
   margin: auto;
   position: relative; 
   top: -95px; 
   left: 0; 
   width: 65%;
   color: $red-primary;
   font-weight: bold;
  }
}


#section-2{
  background: $blue-secundary;
  .section-two-container{
    width: 78%;
    margin-left: auto;
    margin-right: 0;
    h1{
      text-align: center;
      color: $bermuda-blue;
      text-shadow: 0px 0px 8px $bermuda-blue;
      padding-top: 300px;
      padding-bottom: 400px;
      font-weight: bold;
    }
  }
}

#section-3{
  background-color: $blue-primary;
  margin-top: -10px;
}