@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat");

#section1 {
  background-color: #e8444b;
}

#curved-title{
  text-align: center;
  font-family: Lobster;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

.text-box{
  margin: auto;
  background-color: #e3797d;
  width: 70%;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 20px;
  position: relative;
  top: -9rem;
}

.text-box .black{
  color: black;
}
.ribbon {
  margin: auto;
  width: 100%;
  margin-top: -10rem;
}
.ribbon img {
  position: relative;
  width: 100%;
}
.ribbon h5 {
  text-align: center;
  margin: auto;
  position: relative;
  top: -85px;
  left: 0;
  width: 65%;
  color: #e8444b;
  font-weight: bold;
  font-size: 0.9rem;
}

#section2{
  background-color: #d7e7f1;
  height: 500px;
  position: relative;
}

#section2 .box{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-17%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
}

#section2 h3{
  text-align: center;
  color: blue;
}

#section3{
  width: 90%;
  margin: auto;
  background-color: white;
  text-align: center;
}

.flexBox {
  width: 100%;
  height: 100%;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  display: flex;
}

.marquee {
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4%;
  width: 100%;
  text-align: center;
}


#section4{
  text-align: center;
  background-color: #91d3d9;
  color: white;
  padding-bottom: 15px;
}

#section4 h3{
  padding-top: 20px;
  font-weight: bold;
}

.red-text{
  color: #e8444b;
}

.blue-box{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #48c0c0;
}

#section5{
  text-align: center;
  background-color: #e8444b;
  color: white;
}

#section5 h3{
  padding-top: 20px;
  font-weight: bold;
}

#section5 p{
  text-align: left;
  font-weight: bold;
}

.section5-body{
  width: 90%;
  margin: auto;
}

img{
  width: 100%;
  padding-bottom: 20px;
}

#section6{
  background-color: #78c0d8;
  text-align: center;
  color: white;
  font-weight: bold;
}

.form{
  width: 90%;
  margin: auto;
}

#section6 h3{
  padding-top: 20px;
}

input, textarea{
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 3px;
  color: #78c0d8;
  font-weight: bold;
  width: 90%;
  padding: 5px;

}

.btn{
  background-color: #48c0c0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.dot-animation {
  display: block;
  padding:60px;
  width: 500%;
  position: relative;
  left: -50%;
  top: 3rem;

}
.dot-animation span {
  position:relative;
  display: inline-block;
  margin-top: 10px;
  width:70px;
  margin:10px 1px;
  height:5px;
  background:#48c0c0;
}
.dot-animation span:first-child {
  background:#48c0c0;
}
.dot-animation span:before {
  content:"";
  position:absolute;
  z-index:2;
  right:-12px;
  top:-12px;
  height: 1.5rem;
  width: 1.5rem;
  background: white;
  border: 5px solid #48c0c0;
  border-radius: 50%;
}

.dot-animation span:nth-child(even) {
  animation:move-l 0.5s linear infinite alternate;
  transform-origin:left;
}
.dot-animation span:nth-child(even):before {
  animation:move-r 0.5s linear infinite alternate;
}
.dot-animation span:nth-child(odd) {
  animation:move-r 0.5s linear infinite alternate;
  transform-origin:right;
}
.dot-animation span:nth-child(odd):before {
  animation:move-l 0.5s linear infinite alternate;
  transform-origin:right;
}
 

@keyframes move-l {
  from {
    transform: skewY(25deg);
  }
  to {
    transform: skewY(-50deg);
  }
}
@keyframes move-r {
  from {
    transform: skewY(-25deg);
  }
  to {
    transform: skewY(50deg);
  }
}